<h1>My Budget</h1>

<h2>
    Income <%= number_to_currency(@total_incomes) %><br>
    Expenses <%= number_to_currency(@total_expenses) %><br>
    Current Balance <%= number_to_currency(@ending_balance) %><br>  
</h2>

<% @incomes.each do |income| %>
    <div>
        <%= income.date %>
        <%= income.source %>
        <%= income.amount %>
        <%= truncate(income.notes, :length => 35) %>
        <%= income.recurring %>
    
        <%= link_to "View", income %>
        <%= link_to "Edit", edit_income_path(income) %>
    </div>
<% end %>

<% @expenses.each do |expense| %>
    <div>
        <%= expense.date %>
        <%= expense.store %>
        <%= expense.item %>
        <%= expense.amount %>
        <%= truncate(expense.notes, :length => 35) %>
        <%= expense.recurring %>
        
        <%= link_to "View", expense %>
        <%= link_to "Edit", edit_expense_path(expense) %>
    </div>
<% end %>

<%= link_to "New Income", new_income_path %>
<%= link_to "New Expense", new_expense_path %>